@import '../../responsive.scss';

.card {
    display: flex;
    gap: 20px;
    .imgContainer {
        flex: 2;
        height: 200px;
        @include sm {
            display: none;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .textContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;


        img {
            width: auto;
            height: 16px;
        }
        .title {
            font-size: 20px;
            color: #444;
            transition: all 0.4s ease;

            &:hover {
                color: black;
                scale: 1.01;
            }
        }
        .address {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 2px;
            color: #888;
        }
        .price {
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
            background-color: #FFE299;
            width: fit-content;
            
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .features {
                display: flex;
                gap: 20px;
                font-size: 14px;
                .feature {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 5px;
                    background-color: whitesmoke;
                    border-radius: 5px;
                }
            }
            .icons {
                display: flex;
                gap: 20px;
                .icon {
                    border: 1px solid #999;
                    border-radius: 5px;
                    padding: 2px 5px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.4s ease;
                    &:hover {
                        background-color: lightgray;
                    }
                    img {
                        height: 24px;
                    }
                }
            }
        }
    }
}