@import '../../responsive.scss';

.listPage {
    display: flex;
    height: 100%;
    @include md {
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }
    .listContainer {
        flex: 3;
        @include md {
            flex: none;
        }
        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding-right: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;
            @include md {
                padding-right: 0;
                overflow-y: hidden;
            }
        }
    }
    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: #FBF5EE;
        @include md {
            display: none;
        }
    }
}